{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Photothief</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/friends">Friend Request</a></li>
        <li><a href="/frndphoto">Friend's photo</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="col-md-12">
  <div class="page-header">
    <h1>Incoming Friend Request</h1>
  </div>
  {% for user in users %}
  <div>
    <h3>{{user}}</h1>
  </div>
  <div >


    <form action="/acceptfriend" method="POST">
      <input type="hidden" value="{{user}}" name="requested">
      <input type="submit" name="subaccept" value="ACCEPT">
    </form>
  </div>
  <div >
    <form action="/rejectfriend" method="POST">
      <input type="hidden" value="{{user}}" name="requested" id="inp">
      <input type="submit" name="subreject" value="REJECT">
    </form>


  </div>
  <hr>
  <br>
  {% endfor %}

</div>
<script type="text/javascript">
  var ele = document.getElementById("inp").style.display="none";
</script>
{% endblock %}